@import '../01-usables/usables';

// Kleuren
$wit: hsl(0, 0%, 100%);
$offwhite: hsl(35, 80%, 84%);
$grijs-licht:  hsl(0, 0%, 85%);
$grijs: hsl(0, 0%, 65%);
$grijs-donker: hsl(0, 0%, 25%);
$zwart: hsl(0, 0%, 10%);

$primary: hsl(0, 0%, 0%);
$primary-licht: hsl(0, 0%, 0%);
$primary-donker: hsl(0, 0%, 0%);

$accent: hsl(0, 0%, 0%);

// Lettertypes
$f-header: Raleway, Helvetica, sans-serif;
$f-regular: Cabin, Arial, sans-serif;