@import '../01-usables/usables';

p.ontdek_meer {
    font-size: 0.9em;
    font-style: italic;
    text-decoration: underline;
    background-color: rgba(160, 217, 221, 0.658);
    text-align: center;
    padding: 3px 0;

    &:hover {
        cursor: pointer;
    }
}

div #closeModal {
    cursor: pointer;
    right: 30px;
    position: absolute;
    display: block;
    top: 10px;
}

.modal {
    position: absolute;
    z-index: 125;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.modal_content {
    position: absolute;
    z-index: 125;
    top: 0;
}

.modal_body {
    z-index: 150;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    fill: rgb(233, 233, 233);
    position: absolute;
    border-radius: 30px;
    display: inline;
    p {
        display: block;
    }
}

div.modal_bg {
     width: 100vw;
     height: 100vh;
     position: absolute;
     backdrop-filter: blur(7px);
     background-color: rgba(0, 0, 0, 0.637);
     z-index: 100;
     top: 0;
}

