@import '../01-basics/variables';

div.temp_card {
    width: 150px;
    background-color: grey;
    height: fit-content;
    border-radius: 40px;
    display: inherit;
    justify-content: center;
    height: 200px;
}