@import '../01-basics/variables';

div.temp_card {
    width: 150px;
    background-color: rgba(128, 128, 128, 0.3);
    height: fit-content;
    border-radius: 40px;
    display: inherit;
    justify-content: center;
    height: 200px;
}