@import '../01-basics/variables';

div.temp_card {
    width: 9.375rem;
    background-color: rgba(128, 128, 128, 0.3);
    height: fit-content;
    border-radius: 40px;
    display: inherit;
    justify-content: center;
    height: 10.625rem;
    margin-top: 1vh;

    

    div.card_content {
        display: inherit;
        flex-flow: column wrap;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;

        div {
            display: inherit;
            flex-flow: row wrap;
            justify-content: space-between;
            width: 120%;
        }
    }
}